.contactbackground{
    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
  }
  
  .Contact{
    margin: 5px;
    padding: 10px;

   
  }
  
  
  .contact-me {
    text-shadow: 1px 1px 2px #ffffff;
    color: #000000eb;
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: "Sansita", sans-serif;
    align-items: center;
  }
  .contact-form {
    margin-left: 30px;
  }
  
  .input-div {
    padding-left: 300px;
  }
  
  .input-label {
    color: white;
    text-align: center;
  }
  .Name{
    align-items: center;
  }
  
  .contact-form h2 {
    color: #090909;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .contact-form .Name{
    text-align: center;
  }
  
  .contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: 60%;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 150px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .send-btn:hover {
    background: #0582e3;
    border-radius: 5px;
  }
  
  .copyright {
    margin-top: 10px;
    padding: 1px;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 10px;
    color: whitesmoke;
  }
  
  .copyright  {
    font-weight: 700;
    letter-spacing: 1px;
    color: gold;
  }
  
  
  
  @media screen and (max-width: 500px) {
    .input-div {
      padding-left: 0px;
    }
    .contact-form {
      margin: 30px 50px;
    }
  
  
    .contact-form h2 {
      font-size: 30px;
    }
  
    .contact-form .text-box {
      width: 100%;
    }
    .contacthead {
      font-size: 2.5rem !important;
      font-weight: 700 !important;
    }
    .contactpara {
      font-size: 14px !important;
      letter-spacing: 0.5px !important;
    }
    .contact-row {
      padding-top: 30px !important;
    }
  }
  /* ------------------------------------------------------------------ */
  @media screen and (min-width: 500px) and (max-width: 780px) {
    .contact-form {
      margin-left: 0px;
    }
    .input-div {
      padding-left: 70px;
    }
    .contact-form .text-box {
      width: 80%;
    }
    .get-div {
      width: 100%;
    }
    .contacthead {
      padding-top: 0px !important;
    }
  }
  
  .insta-icon{
    color: rgb(240, 24, 182); 
    font-size: 100px;
    cursor: pointer;
  }
  .linkedin-icon{
    color: blue;
    font-size: 100px;
    cursor: pointer;
  }
  .git-icon{
    color:  rgb(0, 0, 8);
    font-size: 100px;
    cursor: pointer;
    box-shadow: #ece4e4;
  }
  
  .whatsapp-icon{
    color: rgb(45, 236, 45);
    font-size: 100px;
    cursor: pointer;
  }
  
  ul{
    display: flex;
    list-style: none;
    gap: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  
  .Ul-list  .Li a {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 23px;
    margin-right: 50px;
    font-size: 60px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255,0.7);
    z-index: 5;
    transition: 0.3s;
  }
  
  .Ul-list  .Li::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 23px;
    border: 2px solid rgba(255,255,255,0.2);
    background: rgb(255,255,255,0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
    transition: 0.3s;
  
  
  }
  
  .Ul-list  .Li a:hover{
    transform: rotate(-15deg);
  }
  .Ul-list  .Li a:hover::after{
    transform: rotate(15deg);
  }
  .Ul-list  .Li a::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #20e6a0;
    right: -5px;
    bottom: 0;
    border-radius: 23px;
    z-index: -1;
    transform-origin: 100% 100%;
    transform: rotate(10deg);
    transition: 0.3s;
  }
  .Ul-list  .Li:nth-child(1) a::before{
    background: #f3abd4;
  }
  .Ul-list  .Li:nth-child(2) a::before{
    background: rgb(178, 178, 251);
  }
  .Ul-list  .Li:nth-child(3) a::before{
    background: rgb(102, 102, 239);
  }
  .Ul-list  .Li:nth-child(4) a::before{
    background: rgb(1, 92, 13);
  }